@charset "utf-8";


section {
    display: flex;
    flex-flow: row wrap;
}

article {
    flex: 1 1 300px;
    border: 1px solid black;
    background-color: rgb(82,82,82);
    padding: 10px;
    margin: 7px
}

article > img {
    max-width: 100%;
    height: 300px;
    border: 2px double black;
}

h1, h2 {
    text-align: center;
}
