html {
    background-color: rgb(51, 51, 51);
    width: 100%;
}

body {
    background-color: rgb(7, 72, 72);
    width: 90%;
    margin: auto;
}

header {
    background-color: black;
    color: ivory;
    display: block;
}

header > nav a {
    background-color: rgb(85, 85, 85);
    display: block;
    float: left;
    color: royalblue;
    width: 20%;
    text-align: center;
}