@charset "utf-8";


html {
    background-color: rgb(51, 51, 51);
    width: 100%;
}

body {
    background-color: rgb(79, 82, 82);
    margin: auto;
    display: block;
    width: 95%;
    height: 100%;
}

body > header {
    background-color: black;
    color: ivory;
    text-align: center;
    display: block;
    width: 100%;
}

body > header > nav#mainLink li {
    width: 20%
}

nav#mainLink li {
    display: block;
    float: left;
}

nav#mainLink a {
    display: block;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    color: ivory;
    background-color: rgb(85, 85, 85);
}


footer {
    display: block;
    background-color: rgb(85, 85, 85);
    text-align: center;
    border: 1px solid black;
    position: absolute;
    width: 100%;
    clear: both;
}


nav#mainLink > a#navicon {
    display: none;
}

@media only screen and (max-width: 480px) {
    nav#mainLink > a#navicon {
       display: block;
    }
    nav#mainLink ul {
       display: none;
    }
 
    a#navicon:hover+ul, nav#mainLink ul:hover {
       display: block;
    }
 }