@charset "utf-8";

h1 {
    font-size: 2em;
    text-align: center;
}
section {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

article#video {
    flex: 2 1 500px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    box-shadow: black 4px 4px 5px;
    text-align: center;

}

article#summary {
    flex: 1 2 100px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    vertical-align: top;
    box-shadow: black 4px 4px 5px;

}

video {
    border: 8px double black;
    box-shadow: 10px 10px 10px;
    height: 300px;
    width: 250px;
}