@charset "utf-8";


section {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

article#video {
    flex: 2 1 500px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}

article#summary {
    flex: 1 2 100px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}