@charset "utf-8";

h1 {
    text-align: center;
}

section {
    display: flex;
    flex-flow: row wrap;
}

article {
    flex: 1 1 300px;
    border: 1px solid black;
    margin: 15px;
    padding: 10px;
    box-shadow: black 4px 4px 5px;
}