@charset "utf-8";

h1 {
    text-align: center;
}

section {
    display: flex;
    flex-flow: row wrap;
}

article {
    flex: 1 1 300px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
}